.customer-reviews-form-container {
      padding: 0px;
      border-radius: 8px;
      margin-top: 5%;
}

#customer-reviews-form {
      padding-top: 0px;
}

#customer-reviews-form h3 {
      text-align: center;
      font-size: 18px;
      margin-bottom: 15px;
}

.ctrw-form-heading {
font-size: 18pt;
line-height: 36pt;
}

#customer-reviews-form .form-group {
      margin-bottom: 10px;
}

#customer-reviews-form .form-group label {
      display: block;
      margin-bottom: 5px;
      font-size: 15px;
}

.customer-reviews-form-container .form-group input,
.customer-reviews-form-container .form-group textarea {
      width: 100%;
      border: 1px solid #d1d1d1;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
      padding: 4px 10px;
      padding-top: 4px;
      padding-right: 10px;
      padding-bottom: 4px;
      padding-left: 10px;
      line-height: 2;
      height: 40px;
}

.customer-reviews-form-container textarea {
      min-height: 125px;
}

#customer-reviews-form .rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      font-size: 24px;
      color: #ccc;
      /* Default star color */
      margin-top: -10px;
}

#customer-reviews-form .rating input {
      display: none;
}

#customer-reviews-form .rating label {
      cursor: pointer;
      transition: color 0.2s;
      font-size: 32px;
}

#customer-reviews-form .review-author {
      font-size: 16px;
      font-weight: bold;
}